@model List<BranchGetDto>
@inject BranchLocalizer _localizer

<br />
<br />
<br />
<br />
<main id="main">
    <nav id="breadcrumb">
        <span><a asp-action="Index" asp-controller="Home">@_localizer.GetValue("Home")</a></span>
        <span class="line">|</span>
        <span><a asp-action="Index" class="text-dark">@_localizer.GetValue("Branches")</a></span>
    </nav>

    <section class="branch-section" id="wishlist">
        <div class="product-wishlist">
            <h2>@_localizer.GetValue("BranchesTitle")</h2>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var branch in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="branch-card">
                            <img src="@branch.ImagePath" alt="@branch.Name">
                            <div class="branch-info">
                                <p class="branch-name">@branch.Name</p>
                                <p class="branch-details">
                                    <strong>@_localizer.GetValue("Address"):</strong> @branch.Location<br>
                                    <strong>@_localizer.GetValue("Phone"):</strong> @branch.PhoneNumber<br>
                                    <strong>@_localizer.GetValue("WorkingHours"):</strong> @branch.WorkHours<br>
                                    <strong>@_localizer.GetValue("Map"):</strong> <a href="@branch.LocationPath" target="_blank">@_localizer.GetValue("ViewMap")</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</main>