@model ShopFilterDto
@inject IWishlistService wishlistService
@inject ShopLocalizer _localizer
@section Styles {

    <link rel="stylesheet" href="~/assets/css/shop.css" />
}
<style>
    .mobileAdvertisementArea {
        display: none;
    }

    @@media (max-width: 1048px) {

        .advertisementArea {
            display: none;
        }

        .mobileAdvertisementArea {
            display: block;
        }
    }
</style>
<br />
<br />
<br />
<br />

<!-- Shop section Start -->
<main>
    <div class="container-fluid  ">
        <form method="post" asp-action="FilterProducts" class="container shopFilterForm submitForm" id="form-id">
            <div class="row g-4">
                <div class="col-lg-3">
                    <div class="row g-4">



                        <div class="col-lg-12">
                            <div class="mb-3">
                                <div class="container mt-4  " style="text-align:center">
                                    <div class="filter-sidebar" style="overflow:hidden">
                                        <p class="results">@_localizer.GetValue("Filter")</p>
                                        <div class="accordion" id="filterAccordion">

                                            <!-- Category Filter -->
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingCategory">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
                                                        @_localizer.GetValue("Category")
                                                    </button>
                                                </h2>
                                                <div id="collapseCategory" class="accordion-collapse collapse"
                                                     aria-labelledby="headingCategory">
                                                    <div class="accordion-body">
                                                        <ul class="list-unstyled">
                                                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                                                @foreach (var category in Model.Categories)
                                                                {
                                                                    <div class="accordion-item">
                                                                        <h2 class="accordion-header" id="flush-heading-@category.Id">
                                                                            <button class="accordion-button collapsed"
                                                                                    type="button"
                                                                                    data-bs-toggle="collapse"
                                                                                    data-bs-target="#flush-collapse-@category.Id"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="flush-collapse-@category.Id">
                                                                <li class="form-check">
                                                                    <label class="form-check-label w-100 d-flex align-items-center" for="category-@category.Id">
                                                                                        @{
                                                                                            string isChecked = Model.ProductFilterDto?.CategoryIds.Any(x => x == category.Id) ?? false ? "checked" : "";
                                                                                        }
                                                                        <input value="@category.Id"
                                                                               name="ProductFilterDto.CategoryIds"
                                                                               class="form-check-input me-2"
                                                                               type="checkbox"
                                                                               id="category-@category.Id"
                                                                                        @isChecked>
                                                                                        @category.Name
                                                                    </label>
                                                                </li>
                                                                </button>
                                                                </h2>
                                                                <div id="flush-collapse-@category.Id"
                                                                     class="accordion-collapse collapse"
                                                                     aria-labelledby="flush-heading-@category.Id"
                                                                     data-bs-parent="#accordionFlushExample">
                                                                    <div class="accordion-body">
                                                                                @foreach (var child in category.Children)
                                                                                {
                                                                    <li class="form-check">
                                                                        <label class="form-check-label w-100 d-flex align-items-center" for="category-@child.Id">
                                                                                            @{
                                                                                                string isCheckedChild = Model.ProductFilterDto?.CategoryIds.Any(x => x == child.Id) ?? false ? "checked" : "";
                                                                                            }
                                                                            <input value="@child.Id"
                                                                                   name="ProductFilterDto.CategoryIds"
                                                                                   class="form-check-input me-2"
                                                                                   type="checkbox"
                                                                                   id="category-@child.Id"
                                                                                            @isCheckedChild>
                                                                                            @child.Name
                                                                        </label>
                                                                    </li>
                                                                                }
                                                        </div>
                                                    </div>
                                                </div>
                                                                }
                                        </div>
                                        </ul>

                                    </div>

                                </div>
                            </div>

                            <!-- Density Filter -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingDensity">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseDensity" aria-expanded="false" aria-controls="collapseDensity">
                                                        @_localizer.GetValue("Density")
                                    </button>
                                </h2>
                                <div id="collapseDensity" class="accordion-collapse collapse" aria-labelledby="headingDensity">
                                    <div class="accordion-body">
                                        <ul class="list-unstyled">
                                                            @foreach (var density in Model.Densities)
                                                            {
                                                <li class="form-check">
                                                    <label class="form-check-label w-100 d-flex align-items-center" for="density-@density.Id">
                                                                        @{
                                                                            string isCheckDensity = Model.ProductFilterDto?.DensityIds.Any(x => x == density.Id) ?? false ? "checked" : "";
                                                            <input value="@density.Id"
                                                                   name="ProductFilterDto.DensityIds"
                                                                   class="form-check-input me-2"
                                                                   type="checkbox"
                                                                   id="density-@density.Id"
                                                                            @isCheckDensity>
                                                                        }
                                                                        @density.Value
                                                    </label>
                                                </li>
                                                            }
                                        </ul>
                                    </div>

                                </div>
                            </div>




                            <!-- Brand Filter -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingBrand">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">
                                                        @_localizer.GetValue("Brand")
                                    </button>
                                </h2>
                                <div id="collapseBrand" class="accordion-collapse collapse" aria-labelledby="headingBrand">
                                    <div class="accordion-body">
                                        <ul class="list-unstyled">
                                                            @foreach (var brand in Model.Brands)
                                                            {
                                                <li class="form-check">
                                                    <label class="form-check-label w-100 d-flex align-items-center" for="brand-@brand.Id">
                                                                        @{
                                                                            string isCheckBrand = Model.ProductFilterDto?.BrandIds.Any(x => x == brand.Id) ?? false ? "checked" : "";
                                                            <input value="@brand.Id"
                                                                   name="ProductFilterDto.BrandIds"
                                                                   class="form-check-input me-2"
                                                                   type="checkbox"
                                                                   id="brand-@brand.Id"
                                                                            @isCheckBrand>
                                                                        }
                                                                        @brand.Name
                                                    </label>
                                                </li>
                                                            }
                                        </ul>
                                    </div>

                                </div>
                            </div>



                            <!-- Price Filter (Always Visible) -->
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" disabled>
                                                        @_localizer.GetValue("Price")
                                    </button>
                                </h2>
                                <div class="accordion-body">
                                    <div class="price-slider">
                                        <input type="range" asp-for="ProductFilterDto!.MinPrice" min="0" max="2500" value="@(Model.ProductFilterDto?.MinPrice ?? 0)" class="mt-2 form-range" id="minPrice">
                                        <input type="range" asp-for="ProductFilterDto!.MaxPrice" min="0" max="2500" value="@(Model.ProductFilterDto?.MaxPrice ?? 2500)" class="mt-2 form-range" id="maxPrice">
                                        <div class="price-values d-flex justify-content-between">
                                            <span id="minPriceValue">₼@(Model.ProductFilterDto?.MinPrice ?? 0)</span>
                                            <span id="maxPriceValue">₼@(Model.ProductFilterDto?.MaxPrice ?? 2500)</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button class="btn btn-outline-dark w-100 mt-3">@_localizer.GetValue("Filter")</button>
                        <a class="btn btn-outline-dark w-100 mt-3" asp-action="Index">@_localizer.GetValue("ClearFilter")</a>

                        <div class="input-group mt-4">
                            <input type="text" class="form-control shopFilterSearchInput" asp-for="ProductFilterDto!.Search" placeholder="@_localizer.GetValue("Search")"
                                   aria-label="Search products" aria-describedby="search-icon">
                            <span class="input-group-text" id="search-icon">
                                <i style="cursor: pointer;"
                                   class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </div>
                    </div>


                    <br />
                    <br />

                    <div class="mobileAdvertisementArea">
                                        @foreach (var advertisement in Model.Advertisements.Where(x => x.ForMobile))
                                        {
                            <a asp-action="AdvertisementRedirect" asp-controller="Home" asp-route-id="@advertisement.Id" style="display:block;width:100%;margin:0 auto;height:100px;overflow:hidden;" class="addSection">
                                <img src="@advertisement.ImagePath" style="width:100%;object-fit:cover;" />

                            </a>
                                        }
                    </div>
                    <div class="advertisementArea">
                                        @foreach (var advertisement in Model.Advertisements.Where(x => !x.ForMobile))
                                        {
                            <a asp-action="AdvertisementRedirect" asp-controller="Home" asp-route-id="@advertisement.Id" style="width:100%;margin:0 auto" class="addSection">
                                <img src="@advertisement.ImagePath" />

                            </a>
                                        }
                    </div>

                </div>

            </div>
    </div>
    </div>
    </div>
    <div class="col-lg-9">
        <div style="margin-top: 20px; right: 122px; position: absolute; z-index: 1;" class="dropdown">
            <select class="form-select"
                    style="appearance: none; border: none; outline: none; padding: 5px; background: transparent; color: inherit; font-size: inherit; text-align: center; border-radius: 0px; cursor: pointer;"
                    id="sortSelect"
                    asp-for="ProductFilterDto!.SortType">
                <option value="@SortTypes.Latest" selected>@_localizer.GetValue("SortByLatest")</option>
                <option value="@SortTypes.Oldest">@_localizer.GetValue("SortByOldest")</option>
                <option value="@SortTypes.Popularity">@_localizer.GetValue("SortByPopularity")</option>
                <option value="@SortTypes.PriceDescending">@_localizer.GetValue("PriceHighToLow")</option>
                <option value="@SortTypes.PriceAscending">@_localizer.GetValue("PriceLowToHigh")</option>
            </select>
        </div>


        <div id="featured-products">
            <div class="featured-products-container position-relative">
                <div class="row">
                                @if (Model.Products.Items.Count > 0)
                                {
                                    @foreach (var product in Model.Products.Items)
                                    {
                                        var size = product.ProductSizes.OrderByDescending(x => x.Discount).FirstOrDefault();


                            <div class="featured-products-card col-lg-4 col-md-6 col-12" style="overflow:hidden">
                                            @{
                                                var isExist = await wishlistService.IsExistByProductIdAsync(product.Id);
                                            }
                                <button class="add-to-fav-button" data-productId="@product.ProductSizes.FirstOrDefault()?.Id">
                                    <i class="@(isExist? "fa-solid" : "fa-regular") fa-heart"></i>
                                </button>

                                <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" asp-route-slug="@product.Slug">
                                                @if (size?.Discount > 0)
                                                {
                                        <span class="new-product-icon">@_localizer.GetValue("Discounted")</span>
                                                }


                                    <span class=""></span>

                                    <div class="swiper productCardSlider swiper-initialized swiper-horizontal swiper-backface-hidden">
                                        <div class="swiper-wrapper" id="swiper-wrapper-c347a114ec1613e9" aria-live="polite">
                                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5"
                                                 data-swiper-slide-index="0" style="width: 251px; margin-right: 30px">
                                                <img src="@product.MainImagePath"
                                                     alt="@product.Name" />
                                            </div>

                                                        @foreach (var imagePath in product.ImagePaths)
                                                        {
                                                <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5"
                                                     data-swiper-slide-index="1" style="width: 251px; margin-right: 30px">
                                                    <img src="@imagePath"
                                                         alt="@product.Name" />
                                                </div>
                                                        }

                                        </div>
                                        <button>

                                            <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                                 aria-controls="swiper-wrapper-c347a114ec1613e9"></div>
                                        </button>
                                        <button>
                                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
                                                 aria-controls="swiper-wrapper-c347a114ec1613e9"></div>
                                        </button>
                                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                    </div>
                                </a>
                                <div class="product-card-content">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" asp-route-slug="@product.Slug"> </a><a>@product.Brand.Name</a>
                                    <a class="product-title">@product.Name</a>
                                    <a class="product-category">@product.Categories.FirstOrDefault()?.Name</a>
                                    <div>

                                                    @if (size?.Discount > 0)
                                                    {
                                            <span style="color: #727272; text-decoration: line-through">₼@size.Price</span>
                                            <span>₼@(size.Price.CalculateDiscountedPrice(size.Discount))</span>

                                                    }
                                                    else
                                                    {
                                            <span>₼@size?.Price</span>
                                                    }

                                        <span style="
                                  color: #727272;
                                  text-decoration: line-through;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        "></span>
                                    </div>
                                </div>

                                <button class="add-to-basket-button">
                                    <a asp-action="AddToBasket" asp-controller="Basket" asp-route-id="@product.ProductSizes.FirstOrDefault()?.Id" class="add-To-Basket-Button" style="display:flex;text-align:center;align-items:center;justify-content:center;width:100%;height:100%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
                                            <path d="M14 3.5h-3a3.5 3.5 0 0 0-7 0H1a1 1 0 0 0-1 1V15a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V4.5a1 1 0 0 0-1-1ZM7.5 2A1.5 1.5 0 0 1 9 3.5H6A1.5 1.5 0 0 1 7.5 2ZM13 15H2V5.5h2v1a1 1 0 0 0 2 0v-1h3v1a1 1 0 0 0 2 0v-1h2Z">
                                            </path>
                                        </svg>
                                    </a>
                                </button>
                            </div>
                                    }

                        <div class="pagination-container">
                            <ul class="pagination" style="display:flex;flex-wrap:wrap;justify-content:center">
                                            @if (Model.Products.CurrentPage > 1)
                                            {
                                    <li class="page-item"><a data-page="@(Model.Products.CurrentPage - 1)" class="page-link">&laquo;</a></li>
                                            }

                                            @for (int i = 1; i <= Model.Products.PageCount; i++)
                                            {
                                                if (i == 1 || i == Model.Products.PageCount ||
                                                (i >= Model.Products.CurrentPage - 1 && i <= Model.Products.CurrentPage + 1))
                                                {
                                        <li class="page-item @(Model.Products.CurrentPage == i ? "active" : "")">
                                            <a data-page="@i" class="page-link">@i</a>
                                        </li>
                                                }
                                                else if (i == 2 && Model.Products.CurrentPage > 3)
                                                {
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                                }
                                                else if (i == Model.Products.PageCount - 1 && Model.Products.CurrentPage < Model.Products.PageCount - 2)
                                                {
                                        <li class="page-item disabled"><span class="page-link">...</span></li>
                                                }
                                            }

                                            @if (Model.Products.CurrentPage < Model.Products.PageCount)
                                            {
                                    <li class="page-item"><a data-page="@(Model.Products.CurrentPage + 1)" class="page-link">&raquo;</a></li>
                                            }
                            </ul>
                        </div>


                                }
                                else
                                {

                        <div class="  text-center py-4 border border-top-1 border-bottom-1">
                            <p class="m-0 fw-bold">@_localizer.GetValue("NotFoundProduct")</p>
                        </div>

                                }

                    <br />
                    <br />

                    <div class="mobileAdvertisementArea">
                                    @foreach (var advertisement in Model.Advertisements.Where(x => !x.ForMobile))
                                    {
                            <a asp-action="AdvertisementRedirect" asp-controller="Home" asp-route-id="@advertisement.Id" style="width:80%;margin:0 auto" class="addSection">
                                <img src="@advertisement.ImagePath" style="width:100%;object-fit:cover;" />

                            </a>
                                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
    </div>
</main>
<!-- Shop section End -->
@section Scripts {
    <script>
        window.history.replaceState(null, '', window.location.href);


        const sortSelect=document.getElementById("sortSelect");
        const form=document.querySelector(".shopFilterForm");
        const shopSearchInput=document.querySelector(".shopFilterSearchInput")
        const paginationButtons=document.querySelectorAll('.page-link');

        paginationButtons.forEach(btn=>{
            btn.addEventListener('click',()=>{

                const page = btn.dataset.page;
                const currentUrl = new URL(form.action || window.location.href);
                currentUrl.searchParams.set('page', page);
                form.action = currentUrl.toString();
                form.submit();
            })
        })

        shopSearchInput.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                form.submit();
            }
        });

        sortSelect.addEventListener("change", function () {
                    form.submit();
        });

        document.addEventListener('DOMContentLoaded', function() {
        const dropdownItems = document.querySelectorAll('.dropdown-item');
        const dropdownButton = document.getElementById('dropdownMenuButton');

        dropdownItems.forEach(item => {
            item.addEventListener('click', function(e) {
                    e.preventDefault();

                    const selectedValue = this.getAttribute('data-value');
                    dropdownButton.textContent = selectedValue;

                    dropdownItems.forEach(item => item.classList.remove('active'));

                    this.classList.add('active');
                });
            });
        });

         const minPrice = document.getElementById("minPrice");
         const maxPrice = document.getElementById("maxPrice");
         const minPriceValue = document.getElementById("minPriceValue");
         const maxPriceValue = document.getElementById("maxPriceValue");

         minPrice.addEventListener("input", () => {
             if (parseInt(minPrice.value) > parseInt(maxPrice.value)) {
                 minPrice.value = maxPrice.value;
             }
             minPriceValue.textContent = `₼${minPrice.value}`;
         });

         maxPrice.addEventListener("input", () => {
             if (parseInt(maxPrice.value) < parseInt(minPrice.value)) {
                 maxPrice.value = minPrice.value;
             }
             maxPriceValue.textContent = `₼${maxPrice.value}`;
         });

        window.addEventListener('load', () => {
                  const scrollPosition = sessionStorage.getItem(`scrollPosition-${window.location.pathname}`);
                  if (scrollPosition) {
                      window.scrollTo(0, parseInt(0, 10));
                  }
              });



    </script>
} 