@model ContactDto
@inject ContactLocalizer _localizer
<!-- Main Start -->
<br />
<br />
<br />
<br />
<main id="main">

    <section id="wishlist">
        <div class="product-wishlist">
            <h2>@_localizer.GetValue("Contact")</h2>
        </div>
    </section>
    <!-- Contact Start -->
    <div class="container-fluid contact py-5">
        <div class="container py-5">
            <div class=" bg-light rounded">
                <div class="row g-4">
                  
                    <div class="col-lg-12">
                        <div class="h-100 rounded">

                            <iframe class="rounded w-100" style="height: 400px;"
                                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3035.5965076908187!2d49.71025467601316!3d40.46206667143245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDI3JzQzLjQiTiA0OcKwNDInNDYuMiJF!5e0!3m2!1sen!2saz!4v1732763075396!5m2!1sen!2saz"
                                    width="800" height="600" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade">
                            </iframe>

                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form method="post" class="">
                            <input asp-for="Fullname" class="w-100 form-control border-0 py-3 mb-4" required placeholder="@_localizer.GetValue("FullnameInput")">
                            <input asp-for="Email" class="w-100 form-control border-0 py-3 mb-4" required placeholder="@_localizer.GetValue("EmailInput")">
                            <textarea asp-for="Message" class="w-100 form-control border-0 mb-4" required rows="5" cols="10"
                                      placeholder="@_localizer.GetValue("MessageInput")"></textarea>
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-dark "
                                    type="submit">
                                @_localizer.GetValue("Submit")
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-map-marker-alt fa-2x text-dark me-4"></i>
                            <div>
                                <h4>@_localizer.GetValue("Address")</h4>
                                <p class="mb-2">@Model.Settings?["Unvan"] </p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fa-solid fa-envelope fa-2x text-dark me-4"></i>
                            <div>
                                <h4>@_localizer.GetValue("Mail")</h4>
                                <p class="mb-2">@Model.Settings?["Email"]</p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded bg-white">
                            <i class="fa-solid fa-phone fa-2x text-dark me-4"></i>
                            <div>
                                <h4>@_localizer.GetValue("Phone")</h4>
                                <p class="mb-2">@Model.Settings?["Telefon1"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</main>
<!-- Main End -->