@model List<WishlistItemGetDto>
@inject WishlistLocalizer _localizer
<!-- Main Start -->

<br />
<br />
<br />
<br />
<main id="main">
    <!-- Breadcrumb Navigation Start -->
    <nav id="breadcrumb">
        <span><a asp-action="Index" asp-controller="Home">@_localizer.GetValue("Home")</a></span>
        <span class="line">|</span>
        <span><a asp-action="Index" class="text-dark">@_localizer.GetValue("Wishlist")</a></span>
    </nav>
    <!-- Breadcrumb Navigation End -->
    <!-- Wishlist Section Start -->
    <section id="wishlist">
        <div class="product-wishlist">
            <h2>@_localizer.GetValue("WishlistTitle")</h2>
        </div>

        <div class="wishlist-items" id="wishlist-container">
            @if (Model.Count == 0)
            {
                <div class="wishlist-title text-center py-4 border border-top-1 border-bottom-1">
                    <p class="m-0 fw-bold">@_localizer.GetValue("NotFoundProduct")</p>
                </div>
            }
            else
            {
                @foreach (var wishlistItem in Model)
                {
                    <div class="wishlist-item">
                        <div class="left-side-wishlist">
                            <a asp-action="RemoveItem" asp-route-id="@wishlistItem.ProductSizeId" class="removeItemBtn">
                                <i class="fa-solid fa-xmark"></i>
                            </a>
                            <div class="wishlist-img">
                                <img src="@wishlistItem.ProductSize.Product.MainImagePath"
                                     alt="Product" />
                            </div>
                            <div class="wishlist-info" style="width:150px">
                                <a href="#">@wishlistItem.ProductSize.Product.Name</a>
                                <a href="#"><span>@wishlistItem.ProductSize.Product.Categories.FirstOrDefault().Name</span></a>
                            </div>
                        </div>
                        <div class="right-side-wishlist">
                            <div class="product-price" style="width:100px">
                                <span>$@wishlistItem.ProductSize.Price</span>
                            </div>
                            <div class="product-stock-status">
                                <span>@_localizer.GetValue("InStock")</span>
                            </div>
                            <a asp-action="AddToBasket" asp-controller="Basket" asp-route-id="@wishlistItem.ProductSizeId" id="add-To-Basket-Button" class="custom-button add-To-Basket-Button">
                                @_localizer.GetValue("AddToCart")
                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                    </div>
                }

            }
        </div>
    </section>
    <!-- Wishlist Section End -->
</main>
<!-- Main End -->

<script>
    const removeBtns=document.querySelectorAll(".removeItemBtn");
    const wishlistItemsArea=document.querySelector(".wishlist-items");

    removeBtns.forEach(btn=>{
        btn.addEventListener('click',async (e)=>{
            e.preventDefault();
            await fetch(btn.href);
            btn.parentElement.parentElement.remove();

            if(wishlistItemsArea.children.length==0){
                wishlistItemsArea.innerHTML=`
                  <div class="wishlist-title text-center py-4 border border-top-1 border-bottom-1">
                    <p class="m-0 fw-bold">NO PRODUCTS ADDED TO THE WISHLIST</p>
                </div>
                `
            }
        })
    })


</script>
