@inject ILayoutService _layoutService
@inject LayoutLocalizer _localizer;
@{
    var basket = await _layoutService.GetBasketAsync();
}


<div class="basket-sidebar-content">
    <div class="basket-sidebar-header">
        <h4>@_localizer.GetValue("BasketTitle")</h4>
        <a class="button-close mb-2" onclick="CloseBasket()">
            <i class="fa-solid fa-x"></i>
        </a>
    </div>
    <div class="basket-products">
        @foreach (var item in basket.Items)
        {
            <div class="basket-product">
                <a class="basket-img">
                    <img src="@item.ProductSize.Product.MainImagePath" alt="Product" />
                </a>
                <div class="basket-product-content">
                    <a class="product-category">@item.ProductSize.Product.Categories.FirstOrDefault()?.Name - @item.ProductSize.Size</a>
                    <a asp-action="Detail" asp-controller="Shop" asp-route-id="@item.ProductSize.ProductId" class="product-item">@item.ProductSize.Product.Name</a>
                    <span class="product-cost">@if (item.ProductSize.Discount > 0)
                        {
                            <s>₼@item.ProductSize.Price</s> 
                        } ₼@item.ProductSize.Price.CalculateDiscountedPrice(item.ProductSize.Discount) x @item.Count</span>
                </div>
                <a asp-action="RemoveToBasket" asp-controller="Basket" asp-route-id="@item.ProductSizeId" class="remove-basket removeToBasketButton">
                    <i class="fa-solid fa-x"></i>
                </a>
            </div>

        }
    </div>
    <div class="basket-total">
        <span>@_localizer.GetValue("Subtotal"):</span>
        <span class="amount">@basket.DiscountedTotal ₼</span>
    </div>
    <div class="basket-buttons">
        <a asp-action="Index" asp-controller="Basket" class="custom-button">@_localizer.GetValue("ViewCart")</a>
    </div>
</div>


<script>
    function RenderBasketCount(){

           const basketCountoutputs=document.querySelectorAll(".count-basket-output");
           const basketItemList=document.querySelector(".basket-products")
           basketCountoutputs.forEach(basketCountoutput=>{
            basketCountoutput.innerHTML=basketItemList.childElementCount
           })


    }
    RenderBasketCount();
</script>
