@inject ILayoutService _layoutService
@inject LayoutLocalizer _localizer
@{
    var settings = await _layoutService.GetSettingsAsync();
    var attendances = await _layoutService.GetAttendancesAsync();
    var selectedLanguage = _layoutService.GetSelectedLanguage();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@_localizer.GetValue("Title")</title>
    <link rel="shortcut icon" href="~/assets/img/cropped-favicon-32x32.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/assets/img/cropped-favicon-32x32.png" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/9.3.0/mmenu.min.css"
          integrity="sha512-nNatP1G6CEh43irXY/GN4cDcLRX/R0jAYAV/ulFZcotSXcuIQE5Do4TuDOYNAD2SCIpmIbaYSllyjTysSCkpEw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    @await RenderSectionAsync("Styles", false)

</head>

<body>
    <!-- Header Section Start -->
    <header id="header">
        <div class="discount-message d-lg-block d-none">
            <a href="#" class="message">
                @_localizer.GetValue("DiscountMessage")
            </a>
            <button class="close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <!-- Navbar Start -->
        <nav id="nav" class="d-lg-block d-none">
            <div class="navbar-container">
                <div class="leftside-nav">
                    <div class="logo">
                        <img src="~/assets/img/logo.png" alt="Dark Dunker" />
                    </div>
                </div>
                <div class="middle-nav">
                    <ul class="navbar-items">
                        <li class="navbar-item active">
                            <a asp-action="Index" asp-controller="Home" class="navbar-link">@_localizer.GetValue("Home")</a>
                        </li>
                        <li class="navbar-item">
                            <a asp-action="Index" asp-controller="Shop" class="navbar-link">@_localizer.GetValue("Shop")</a>
                        </li>

                        <li class="navbar-item">
                            <a asp-action="Index" asp-controller="Contact" class="navbar-link">@_localizer.GetValue("Contact")</a>
                        </li>
                    </ul>
                </div>
                <div class="rightside-nav">
                    <div class="action-icons">
                        <span style="cursor: pointer" class="search" onclick="openSearch()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>

                        <div id="searchOverlay" class="overlay">
                            <span class="closebtn" onclick="closeSearch()"><i class="fa-solid fa-xmark"></i></span>
                            <div class="overlay-content">
                                <h1>@_localizer.GetValue("SearchText")</h1>
                                <input id="searchInput" type="text" placeholder="@_localizer.GetValue("SearchButton")..." onkeydown="checkEnter(event)" />
                                <button type="button" onclick="performSearch()">
                                    @_localizer.GetValue("SearchButton")
                                </button>
                            </div>
                        </div>

                        <div class="account-container">
                            <span style="cursor: pointer" class="account">
                                <i class="fa-regular fa-user"></i>
                            </span>
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <div class="account-dropdown">
                                    <p class="name">@User.Identity.Name</p>
                                    <a asp-action="Logout" asp-controller="Account" class="btn">@_localizer.GetValue("Logout")</a>
                                </div>
                            }
                            else
                            {
                                <div class="account-dropdown" style="text-align:center">
                                    <a asp-action="Login" asp-controller="Account" class="btn">@_localizer.GetValue("Login")</a>
                                    <p class="position">@_localizer.GetValue("Or")</p>
                                    <a asp-action="Register" asp-controller="Account" class="btn">@_localizer.GetValue("Register")</a>
                                </div>
                            }
                        </div>

                        <a asp-action="Index" asp-controller="Wishlist">
                            <span class="wish"><i class="fa-regular fa-heart"></i></span>
                        </a>
                        <div class="account-container2">
                            <select class="changeCultureInput">
                                @if (selectedLanguage == "en")
                                {
                                    <option value="az">AZE</option>
                                    <option value="en" selected>ENG</option>
                                    <option value="ru">RUS</option>
                                }
                                else if (selectedLanguage == "ru")
                                {

                                    <option value="az">AZE</option>
                                    <option value="en">ENG</option>
                                    <option value="ru" selected>RUS</option>
                                }
                                else
                                {
                                    <option value="az" selected>AZE</option>
                                    <option value="en">ENG</option>
                                    <option value="ru">RUS</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="basket basket-btn">
                        <span class="basket-icon d-flex justify-content-center align-items-center gap-1">
                            <i class="fa-solid fa-basket-shopping"></i>
                            <span class="count-basket count-basket-output">0</span>
                        </span>
                        <div class="basket-container"></div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Mobile Nav Start-->
        <div class="mobile-header d-block d-lg-none">
            <div class="mobile-header-top">
                <div class="mobile-nav-container">
                    <div class="mobile-nav-left">
                        <a href="./index.html">
                            <div class="dark-logo">
                                <img src="~/assets/img/Mobile-logo.png" alt="DunkerDark" />
                            </div>
                        </a>
                    </div>
                    <div class="mobile-nav-right">
                        <div class="mobile-nav-actions">
                            <div class="search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="mobile-nav-basket">
                                <a href="#" class="basket-btn basket-icon d-flex justify-content-center align-items-center gap-1">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    <span class="count-basket count-basket-output">0</span>
                                </a>
                                <div class="basket-container"></div>
                            </div>
                            <div class="account-container2">
                                <select class="changeCultureInputMobile">
                                    @if (selectedLanguage == "en")
                                    {
                                        <option value="az">AZE</option>
                                        <option value="en" selected>ENG</option>
                                        <option value="ru">RUS</option>
                                    }
                                    else if (selectedLanguage == "ru")
                                    {

                                        <option value="az">AZE</option>
                                        <option value="en">ENG</option>
                                        <option value="ru" selected>RUS</option>
                                    }
                                    else
                                    {
                                        <option value="az" selected>AZE</option>
                                        <option value="en">ENG</option>
                                        <option value="ru">RUS</option>
                                    }
                                </select>
                            </div>
                            <div class="menu-btn">
                                <div class="menu-btn__burger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="mobile-nav" class="mobile-navbar">
                <ul class="mobile-navbar-items">
                    <li class="mobile-navbar-item text-uppercase">
                        <a asp-action="Index" asp-controller="Home" class="mobile-navbar-link">
                            @_localizer.GetValue("Home")
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mobile-navbar-item text-uppercase">
                        <a asp-action="Index" asp-controller="Shop" class="mobile-navbar-link">
                            @_localizer.GetValue("Shop")
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li class="mobile-navbar-item text-uppercase">
                        <a asp-action="Index" asp-controller="Contact" class="mobile-navbar-link">
                            @_localizer.GetValue("Contact")
                            <span class="right-chevron">
                                <i class="fa-solid fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!-- Mobile Nav End-->
        <!-- Basket Sidebar -->
        <div class="basket-sidebar" style="background-color:white;z-index:100;">
            <partial name="_basketModalPartial"></partial>
        </div>

    </header> <!-- Header Section End -->
    @RenderBody()



    <!-- Footer Start -->
    <footer id="footer">
        <div class="content">
            <div class="content-bottom">
                <div class="row content-bottom-row align-items-center">
                    <div class="content-logo col-lg-3 col-md-6 col-12">
                        <img src="https://dunker.qodeinteractive.com/wp-content/uploads/2023/02/Dunker-logo-dark.png" alt="" />
                    </div>
                    @foreach (var attendance in attendances)
                    {
                        <div class="services col-lg-3 col-md-6 col-12">
                            <div>
                                <img src="@attendance.ImagePath" />
                            </div>
                            <span>@attendance.Name</span>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <ul style="display:flex;width:100%;justify-content:space-between">
                        <li>
                            <a asp-action="Index" asp-controller="Home">@_localizer.GetValue("Home")</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Shop">@_localizer.GetValue("Shop")</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Contact">@_localizer.GetValue("Contact")</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="section-container">
            <div class="middle-footer">
                <div class="row">
                    <div class="col-lg-6 col-12 p-lg-0 pb-5">
                        <form class="footer-form" method="post" asp-action="AddSubscriber" asp-controller="Home">
                            <h5>@_localizer.GetValue("Newsletter")</h5>
                            <p>
                                @_localizer.GetValue("NewsletterDescription")
                            </p>
                            <div class="form-email">
                                <input type="email" required name="Email" class="send-email" placeholder="@_localizer.GetValue("NewsletterPlaceholder")" />
                                <span class="arrow-right">
                                    <button style="background:none;border:none;outline:none;" type="submit"> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="location col-lg-3 col-md-6 col-12">
                        <h5>@_localizer.GetValue("Info")</h5>
                        <address>
                            <h6 class="footer-heading">
                                <a href="tel:@settings["Telefon1"]">@settings["Telefon1"]</a>
                            </h6>
                            <h6 class="footer-heading">
                                <a>
                                    @settings["Unvan"]
                                </a>
                            </h6>
                            <h6 class="footer-heading">
                                <a>@settings["IsSaatlari"]</a>
                            </h6>
                        </address>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <div class="copyright">
                    <span>
                        @settings["Copyright"]
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/split-type@0.3.4/umd/index.min.js
    "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
            integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js"></script>

    <script>
        const changeLangInput=document.querySelector('.changeCultureInput');
        const changeLangInputMobile=document.querySelector('.changeCultureInputMobile');

        changeLangInput.addEventListener('change',()=>{
            window.location.href=`/Home/SelectCulture?culture=${changeLangInput.value}`
        })
        changeLangInputMobile.addEventListener('change',()=>{
            window.location.href=`/Home/SelectCulture?culture=${changeLangInput.value}`
        })
    </script>
    <script>
          const wishlistButtons = document.querySelectorAll(".add-to-fav-button")

        wishlistButtons.forEach(btn=>{
            btn.addEventListener("click",async (e)=>{
                e.preventDefault();

               await fetch(`/Wishlist/AddItem/${btn.dataset.productid}`)
                btn.children[0].classList.toggle("fa-regular")
                btn.children[0].classList.toggle("fa-solid")
            })
        })


    </script>




    <script>

        const addToBasketButtons=document.querySelectorAll('.add-To-Basket-Button');
        const basketPartialSection=document.querySelector('.basket-sidebar');

        addToBasketButtons.forEach(btn=>{
            btn.addEventListener('click',async (e)=>{
                e.preventDefault();
               const response= await fetch(btn.href);
               const basketPartial=await response.text();
               basketPartialSection.innerHTML=basketPartial;

                    Swal.fire({
          position: "center",
          icon: "success",
          showConfirmButton: false,
          timer: 1500
        });


                RenderBasketCount();
            })
        })
    </script>

    <script>
        window.addEventListener('scroll', () => {
                sessionStorage.setItem(`scrollPosition-${window.location.pathname}`, window.scrollY);

        });

        window.addEventListener('load', () => {
            const scrollPosition = sessionStorage.getItem(`scrollPosition-${window.location.pathname}`);
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
        });
    </script>

    <script src="~/assets/js/script.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>