@using MotorDoctor.Business.Extensions
@model HomeDto
@inject IWishlistService wishlistService;
@inject HomeLocalizer _localizer;
@inject ISettingService _settingService;
@{
    var settings = await _settingService.GetSettingsWithDictionaryAsync(Constants.SelectedLanguage);
}

<!-- Main Start -->
<main id="main">
    <!-- Hero Slider -->
    <div class="mainSwiper swiper mySwiper">
        <div class="swiper-wrapper">
            @foreach (var slider in Model.Sliders)
            {
                <div class="swiper-slide">
                    <div class="slider-title" style="word-wrap:break-word;overflow-wrap: break-word;">
                        <h1 class="slider-heading text-difference-color">@slider.Title</h1>
                        <p class="pb-4 text-difference-color">
                            @slider.Description
                        </p>

                        <a asp-action="SliderRedirect" asp-route-id="@slider.Id" asp-controller="Home" class="custom-button">@slider.ButtonTitle</a>


                    </div>
                    <div class="overlay"></div>
                    <img loading="lazy" src="@slider.ImagePath" alt="slider" />
                </div>
            }

        </div>
        <button class="border-0">
            <div class="swiper-button-next"></div>
        </button>
        <button class="border-0">
            <div class="swiper-button-prev"></div>
        </button>
        <div class="autoplay-progress d-lg-flex d-none">
            <svg viewBox="0 0 48 48">
                <circle cx="24" cy="24" r="20"></circle>
            </svg>
            <span></span>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
    </div>

    <!-- featured section start  -->
    <section id="featured">

        <div class="featured-container">
            <div class="row">
                @foreach (var product in Model.BestSellerProducts)
                {


                    <div class="product-card col-lg-6 col-md-12 col-12" data="fashion">

                        <a asp-action="Index" asp-controller="Shop" asp-route-categoryId="@product.ParentCategory?.Id">
                            <span style="mix-blend-mode: difference;color:white;" id="">@product.ParentCategory?.Name</span>
                            <img loading="lazy" src="@product.ParentCategory?.ImagePath" alt="product" />
                        </a>
                        <div class="product-card-details">
                            <div class="product-detail-content">
                                <div class="product-detail-content-left">
                                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" asp-route-slug="@product.Slug"> </a><a>@product.Brand?.Name</a>
                                    <a class="product-detail-title">@product.Name</a>
                                    <a>@product.Category.Name</a>
                                </div>
                                <div class="product-detail-content-right">

                                    @{
                                        var isExist = await wishlistService.IsExistByProductIdAsync(product.Id);
                                    }
                                    <button class="add-to-fav-button" data-productId="@product.ProductSizes.FirstOrDefault()?.Id">
                                        <i class="@(isExist? "fa-solid" : "fa-regular") fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                            <p>₼@product.ProductSizes.FirstOrDefault()?.Price</p>
                        </div>
                        <button class="add-to-basket-button">

                            <a asp-action="AddToBasket" asp-controller="Basket" asp-route-id="@product.ProductSizes.FirstOrDefault()?.Id" class="add-To-Basket-Button" style="display:flex;text-align:center;align-items:center;justify-content:center;width:100%;height:100%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
                                    <path d="M14 3.5h-3a3.5 3.5 0 0 0-7 0H1a1 1 0 0 0-1 1V15a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V4.5a1 1 0 0 0-1-1ZM7.5 2A1.5 1.5 0 0 1 9 3.5H6A1.5 1.5 0 0 1 7.5 2ZM13 15H2V5.5h2v1a1 1 0 0 0 2 0v-1h3v1a1 1 0 0 0 2 0v-1h2Z">
                                    </path>
                                </svg>
                            </a>
                        </button>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- featured section end  -->
    <!-- featured-products start -->
    <section id="featured-products">
        <div class="section-title">
            <span>@_localizer.GetValue("Collection")</span>
            <h2>@_localizer.GetValue("FeaturedProducts")</h2>
        </div>
        <div class="featured-products-filter">
            <button class="show-all-btn">@_localizer.GetValue("ShowAll")</button>
            @foreach (var category in Model.FeaturedCategories)
            {
                <button class="filter-btn" data-category="@category.Id">@category.Name</button>
            }

        </div>
        <div class="featured-products-container">
            <div class="row">
                @foreach (var product in Model.FeaturedCategories.SelectMany(x => x.Products).OrderByDescending(x => x.SalesCount).Take(8))
                {
                    var size = product.ProductSizes.OrderByDescending(x => x.Discount).FirstOrDefault();


                    <div class="featured-products-card 	 col-lg-3 col-md-6 col-12" data-category="@product.Categories.FirstOrDefault()?.ParentId">

                        @{
                            var isExist = await wishlistService.IsExistByProductIdAsync(product.Id);
                        }
                        <button class="add-to-fav-button" data-productId="@product.ProductSizes.FirstOrDefault()?.Id">
                            <i class="@(isExist? "fa-solid" : "fa-regular") fa-heart"></i>
                        </button>

                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" asp-route-slug="@product.Slug">
                            @if (size?.Discount > 0)
                            {
                                <span class="new-product-icon">@_localizer.GetValue("Discounted")</span>
                            }                            <span class=""></span>

                            <div class="swiper productCardSlider swiper-initialized swiper-horizontal swiper-backface-hidden">
                                <div class="swiper-wrapper" id="swiper-wrapper-c347a114ec1613e9" aria-live="polite">
                                    <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 5"
                                         data-swiper-slide-index="0" style="width: 251px; margin-right: 30px">
                                        <img loading="lazy" src="@product.MainImagePath" alt="productImg" />
                                    </div>
                                    @foreach (var imagePath in product.ImagePaths)
                                    {
                                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 5"
                                             data-swiper-slide-index="1" style="width: 251px; margin-right: 30px">
                                            <img loading="lazy" src="@imagePath"
                                                 alt="productImg" />
                                        </div>

                                    }
                                </div>
                                <button>
                                    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"
                                         aria-controls="swiper-wrapper-c347a114ec1613e9"></div>
                                </button>
                                <button>

                                    <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"
                                         aria-controls="swiper-wrapper-c347a114ec1613e9"></div>
                                </button>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                            </div>
                        </a>
                        <div class="product-card-content">
                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@product.Id" asp-route-slug="@product.Slug"> </a><a>@product.Brand.Name</a>
                            <a class="product-title">@product.Name</a>
                            <a class="product-category">@product.Categories.FirstOrDefault()?.Name</a>
                            <div>
                                @if (size?.Discount > 0)
                                {
                                    <span style="color: #727272; text-decoration: line-through">₼@size.Price</span>
                                    <span>₼@(size.Price.CalculateDiscountedPrice(size.Discount))</span>

                                }
                                else
                                {
                                    <span>₼@size?.Price</span>
                                }

                                <span style="color: #727272; text-decoration: line-through"></span>
                            </div>
                        </div>

                        <button class="add-to-basket-button">

                            <a asp-action="AddToBasket" asp-controller="Basket" asp-route-id="@product.ProductSizes.FirstOrDefault()?.Id" class="add-To-Basket-Button" style="display:flex;text-align:center;align-items:center;justify-content:center;width:100%;height:100%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 15 17">
                                    <path d="M14 3.5h-3a3.5 3.5 0 0 0-7 0H1a1 1 0 0 0-1 1V15a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V4.5a1 1 0 0 0-1-1ZM7.5 2A1.5 1.5 0 0 1 9 3.5H6A1.5 1.5 0 0 1 7.5 2ZM13 15H2V5.5h2v1a1 1 0 0 0 2 0v-1h3v1a1 1 0 0 0 2 0v-1h2Z">
                                    </path>
                                </svg>
                            </a>
                        </button>
                    </div>

                }
            </div>
        </div>
    </section>
    <!-- featured-products end -->
    <!-- Categories Section Start -->
    <section id="categories" style="overflow:hidden">
        <div class="section-title">
            <span>@_localizer.GetValue("FeaturedCategories")</span>
        </div>
        <div class="categories-container">
            <div class="categories-content text-center">
                @foreach (var category in Model.FeaturedParentCategories)
                {
                    <div class="category-items">
                        <img loading="lazy" src="@category.ImagePath"
                             alt="Image 3" class="product-image" />
                        <a asp-action="Index" asp-controller="Shop" asp-route-categoryId="@category.Id" class="category-item">
                            <span class="category-title">
                                @category.Name
                                <span class="category-count">(@category.ProductCount)</span>
                            </span>
                        </a>
                    </div>
                }

            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Elementor Section Start -->
    <section id="elementor-section">
        <div class="row">
            <div class="swiper elementorSwiper">
                <div class="swiper-wrapper">
                    @foreach (var brand in Model.Brands)
                    {
                        <div class="swiper-slide">
                            <img loading="lazy" src="@brand.ImagePath" alt="@brand.Name" />
                        </div>

                    }
                </div>
            </div>


        </div>
    </section>
    <!-- Elementor Section End -->
    <!-- Trending Section Start  -->
    <section id="trending" class="pb-5">
        <div class="section-title">
            <span>@_localizer.GetValue("WhyChooseUs")</span>
            <h2>@settings["WhyChooseUs"]</h2>
        </div>
        <div class="featured-products-container">
            <div class="row justify-content-center"></div>
        </div>
    </section>
    <!-- Trending Section End  -->
    <!-- Street Vibe Section Start -->
    @if (Model.About is { })
    {
        <section id="street-vibe" style="background-image:url(@Model.About.ImagePath)">
            <div class="street-title">
                <h2 class="text-readable">@Model.About.Name</h2>
                <p class="text-readable">
                    @Html.Raw(Model.About.Description)
                </p>
                <a class="custom-button" asp-action="Index" asp-controller="About">@_localizer.GetValue("ReadMore")</a>
            </div>
        </section>
    }
    <!-- Street Vibe Section End -->
    <!-- Categories Slider Section Start -->
    <section style="margin-top: 100px;" id="categories-slider">
        <div class="swiper categoriesSwiper">
            <div class="swiper-wrapper">
                @foreach (var category in Model.ParentCategories)
                {
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Shop" asp-route-categoryId="@category.Id" class="category-element">
                            <h5>@category.Name</h5>
                            <div class="category-image" style="width:200px;height:200px;overflow:hidden">
                                <img loading="lazy" src="@category.ImagePath"
                                     alt="@category.Name" style="object-fit:cover;width:100%;height:auto;" />
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Categories Slider Section End -->
</main>
<!-- Main End -->
@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterButtons = document.querySelectorAll('.filter-btn');
            const showAllButton = document.querySelector('.show-all-btn');
            const productCards = document.querySelectorAll('.featured-products-card');

            filterButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const category = this.getAttribute('data-category');

                    productCards.forEach(card => {
                        if (card.getAttribute('data-category') === category) {
                            card.style.display = 'block';
                        } else {
                            card.style.display = 'none';
                        }
                    });
                });
            });

            showAllButton.addEventListener('click', function () {
                productCards.forEach(card => {
                    card.style.display = 'block';
                });
            });
        });
    </script>

}