@model CategoryCreateDto

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Kategoriya yarat
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <div class="form-group">

                    <input asp-for="@Model.CategoryDetails[0].LanguageId" value="1" type="hidden" />
                    <div class="form-group">
                        <label for="exampleInputUsername1">Azərbaycanca ad</label>
                        <input class="form-control categoryName" required asp-for="@Model.CategoryDetails[0].Name" placeholder="Ad daxil edin">
                        <span asp-validation-for="@Model.CategoryDetails[0].Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputUsername1">Azərbaycanca açıqlama,əgər varsa</label>
                        <input class="form-control categoryDescription" required asp-for="@Model.CategoryDetails[0].Description" placeholder="Açıqlama daxil edin">
                        <span asp-validation-for="@Model.CategoryDetails[0].Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input class=" sameDataInput" id="checkbox" type="checkbox">
                        <label for="checkbox">Bütün dillərdə eyni olsun</label>
                    </div>

                </div>

                <hr />
                <br />
                <br />

                <div class="form-group">

                    <input asp-for="@Model.CategoryDetails[1].LanguageId" value="2" type="hidden" />
                    <div class="form-group">
                        <label for="exampleInputUsername1">İngiliscə ad</label>
                        <input class="form-control categoryName" required asp-for="@Model.CategoryDetails[1].Name" placeholder="Ad daxil edin">
                        <span asp-validation-for="@Model.CategoryDetails[1].Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputUsername1">İngiliscə açıqlama,əgər varsa</label>
                        <input class="form-control categoryDescription" required asp-for="@Model.CategoryDetails[1].Description" placeholder="Açıqlama daxil edin">
                        <span asp-validation-for="@Model.CategoryDetails[1].Description" class="text-danger"></span>
                    </div>


                </div>

                <hr />
                <br />
                <br />

                <div class="form-group">

                    <input asp-for="@Model.CategoryDetails[2].LanguageId" value="3" type="hidden" />
                    <div class="form-group">
                        <label for="exampleInputUsername1">Rusca ad</label>
                        <input class="form-control categoryName" required asp-for="@Model.CategoryDetails[2].Name" placeholder="Ad daxil edin">
                        <span asp-validation-for="@Model.CategoryDetails[2].Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputUsername1">Rusca açıqlama,əgər varsa</label>
                        <input class="form-control categoryDescription" required asp-for="@Model.CategoryDetails[2].Description" placeholder="Açıqlama daxil edin">
                        <span asp-validation-for="@Model.CategoryDetails[2].Description" class="text-danger"></span>
                    </div>

                </div>

                <hr />
                <br />
                <br />


                <div class="form-group">
                    <label>
                        Üst kategoriya seçin,əgər varsa
                    </label>
                    <br />
                    <select class="form-select form-select-sm" asp-for="ParentId">
                        <option value="@null" selected>Üst kategoriyası olmasın </option>
                        @foreach (var category in Model.Categories ?? new())
                        {
                            <option value="@category.Id">@category.Name</option>
                        }

                    </select>
                </div>

                <hr />
                <br />
                <br />



                <div class="form-group">
                    <label for="exampleInputUsername1"> Şəkil seçin,əgər varsa</label>
                    <input class="form-control" accept="image/*" asp-for="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>



                <button type="submit" class="btn btn-primary mr-2">Yarat</button>
                <a class="btn btn-light" asp-action="Index">Ləğv et</a>
            </form>
        </div>
    </div>
</div>


<script>
                            const sameDataInput=document.querySelector(".sameDataInput")
       const nameInputs=document.querySelectorAll(".categoryName");
       const descriptionInputs=document.querySelectorAll(".categoryDescription");

    sameDataInput.addEventListener("change",(e)=>{
        e.preventDefault();
        if(sameDataInput.checked){

            let name=nameInputs[0].value;
            let description=descriptionInputs[0].value;

            nameInputs.forEach(input=>input.value=name)
            descriptionInputs.forEach(input=>input.value=description)


        }
    })
</script>